.doapToolbar{
	border: 1px solid #ccc;
	background: #fff;
	margin-bottom: 15px;
	height: 25px;
	padding: 5px;
}

.doapToolbar h3.doapTitle{
	padding: 5px; 
	border: 1px solid #ccc;
	background:#fff;
	margin-bottom: 10px;
	font-size: 12px;
	float: left;
	padding: 5px 10px;
	border: #ccc;
	background: #aaa;
	color: #fff;
	border-radius: 4px;
	font-weight: normal;
	margin: 0;
} 
	#right .doapToolbar p.doapViewLinks{
		float: right;
		padding: 0;
		margin: 0;
	} 
		.doapToolbar p.doapViewLinks a{
			display: inline-block;
			border-radius: 4px;
			border: 1px solid #555;
			background: #999;
			color: #fff;
			padding: 3px 10px;
			margin: 0 5px;
			text-decoration: none;
			font-size: 14px;
		}
		.doapToolbar p.doapViewLinks a:hover{
			background: #aaa;
		}